.header {
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid $heath;
}

.app-name {
    margin-bottom: 0;
    color: $heath;
    font-weight: 700;
    font-size: 30px;
}

.sub-title {
    color: $heath;
    font-weight: 400;
    font-size: 13px;
}